body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: rgba(0, 255, 69, 0.92) 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("../img/code.jpg") no-repeat;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 500px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: rgba(99, 207, 35, 0.93);
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#explore-section .fa {
  color: #fff;
  background: #333;
  padding: 4px;
  border-radius: 6px;
  font-size: 30px; }

#followers {
  font-size: 24px;
  font-weight: bold;
  font-style: italic; }
@media (max-width: 991.98px) {
  #climbing {
    max-width: 100px;
    max-height: 100px;
}
